.li {
    align-items: center;
    display: flex;
    margin: auto;
    font-size: medium;
}

.DeleteBtn {
    float: right;
    border-radius: 4px;
    border-color: lightgray;
    text-align: center;
}

.OptionBox {

}